.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.botoes {
  display: flex;
}

.footerPage {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.titulo {
  color: navy;
}