.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.botoes {
  display: flex;
}

.footerPage {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.titulo {
  color: navy;
}
.card-title {
  padding-bottom: 10px;
  font-size: 16px;
}

.card-header {
  background-color: #e6e3e3;
}

mat-card-content {
  padding-top: 20px;
}