<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="">
      <img class="logo" src="assets/img/logo.png" alt="logo">
    </a>
  </span>
  <div class="divZona">
    <div class="name-user">
      {{usuario.nome}}
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deslogar()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
