<h3 class="titulo">{{titulo}}</h3>
<mat-card>
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">Dados do Cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="frm" (ngSubmit)="salvar()">
      <div class="divLinha">
        <mat-form-field class="width-35" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome da pessoa" formControlName="nome" required>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field class="width-40" appearance="outline">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Endereço" formControlName="logradouro" required>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field class="width-25" appearance="outline">
          <mat-label>Complemento</mat-label>
          <input matInput placeholder="Complemento" formControlName="complemento" required>
        </mat-form-field>
      </div>

      <div class="divLinha">
        <mat-form-field class="width-15" appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Número" formControlName="numero" required>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field class="width-35" appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Bairro" formControlName="bairro" required>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field class="width-35" appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Cidade" formControlName="cidade" required>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field class="width-15" appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="CEP" maxlength="9" [mask]="'00000-000'" formControlName="cep" required>
          </mat-form-field>
      </div>

      <div class="divLinha">
        <mat-form-field class="width-20" appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select matNativeControl required formControlName="estado">
            <mat-option *ngFor="let estado of estados" value="{{estado.sigla}}">{{estado.descricao}}</mat-option>
          </mat-select>
          </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field class="width-15" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select matNativeControl required formControlName="ativo">
            <mat-option value="true">Ativo</mat-option>
            <mat-option value="false">Inativo</mat-option>
          </mat-select>
          </mat-form-field>
      </div>
      <div class="row footerPage">
        <button mat-raised-button color="warn" type="button" routerLink="/pessoas">Voltar</button>
        &nbsp;
        <button mat-raised-button color="primary" type="submit" [disabled]="frm.invalid">Salvar</button>
      </div>
    </form>
  </mat-card-content>
  </mat-card>