.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  height: 5%;
  color: black;
}

.footer > span {
  font-size: 1rem;
  font-weight: 300;
}
