table {
  width: 100%;
}
table tr:hover {
  background: whitesmoke;
}

table th {
  background-color: lightgray;
  font-size: 18px;
}

table td {
  font-size: 16px;
}

.divbotaonovo {
  margin-bottom: 25px;
}

.mat-column-codigo {
  width: 5%;
  text-align: center;
}

.mat-column-nome {
  width: 25%;
}

.mat-column-logradouro {
  width: 35%;
}

.mat-column-cep {
  width: 10%;
}

.mat-column-ativo {
  width: 10%;
}

.mat-column-acao {
  width: 10%;
  text-align: center;
  white-space: unset;
}

.titulo {
  color: navy;
}

.example-full-width {
  width: 100%;
}