table {
  width: 100%;
}
table tr:hover {
  background: whitesmoke;
}

table th {
  background-color: #e6e3e3;
  font-size: 18px;
}

table td {
  font-size: 16px;
}

.divbotaonovo {
  margin-bottom: 25px;
}

.mat-column-codigo {
  width: 10%;
  text-align: center;
}

.mat-column-nome {
  width: 40%;
}

.mat-column-cpf {
  width: 15%;
}

.mat-column-login {
  width: 25%;
}

.mat-column-acao {
  width: 10%;
  text-align: center;
  white-space: unset;
}

 .titulo {
   color: navy;
 }

 .example-full-width {
   width: 100%;
 }