table {
  width: 100%;
}
table tr:hover {
  background: whitesmoke;
}

table th {
  background-color: lightgray;
  font-size: 18px;
}

table td {
  font-size: 16px;
}

.divbotaonovo {
  margin-bottom: 25px;
}
