.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.botoes {
  display: flex;
}

.divLinha {
  width: 100%;
  display: flex;
  word-wrap: normal;
}

.width-35 {
  width: 35%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 15%;
}

.width-10 {
  width: 10%;
}

.titulo {
  color: navy;
}

.footerPage {
  width: 100%;
  text-align: right;
  display: inline-block;
}