<mat-sidenav-container class="conainer">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-lis">
      <a mat-list-item routerLink="">
        <i class="material-icons">
          home
        </i>
        Home
      </a>
      <a mat-list-item routerLink="/categorias">
        <i class="material-icons">
          move_up
        </i>
        Categorias
      </a>
      <a mat-list-item routerLink="/pessoas">
        <i class="material-icons">
          group
        </i>
        Clientes/Pessoas
      </a>
      <a mat-list-item routerLink="/usuarios">
        <i class="material-icons">
          person
        </i>
        Usuários
      </a>
      <a mat-list-item routerLink="">
        <i class="material-icons">
          logout
        </i>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>